<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertModal"
            onclick="showModal()">
            Add New Part
        </button>

        <!-- Modal -->
        <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="insertForm">
                            <div class="form-group">
                                <label for="insertPartName">Part Name</label>
                                <input type="text" class="form-control" id="insertPartName"
                                    placeholder="Enter Part Name">
                            </div>
                            <div class="form-group">
                                <label for="insertPrice">Price</label>
                                <input type="number" class="form-control" id="insertPrice"
                                    placeholder="Price">
                            </div>
                            <div class="form-group">
                                <label for="insertStock">Stock</label>
                                <input type="number" class="form-control" id="insertStock"
                                    placeholder="Stock">
                            </div>
                            <div class="form-group">
                                <label for="insertDescription">Description</label>
                                <input type="text" class="form-control" id="insertDescription"
                                    placeholder="Description">
                            </div>
                            <div>
                                <select class="form-select" aria-label="Category" id="insertCategory">
                                    <option selected>Category</option>
                                    <option value="1">Engine</option>
                                    <option value="2">Transmission</option>
                                    <option value="3">Electrical</option>
                                    <option value="4">Suspension</option>
                                    <option value="5">AC</option>
                                    <option value="6">Exhaust</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="insertStore">Store ID</label>
                                <input type="number" class="form-control" id="insertStore"
                                    placeholder="Store">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                        <button type="button" class="btn btn-primary" onclick="insertNewPart()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-3"></div>
</div>

<script src="js/newPart.js"></script>