<div id="formsRow"class="login_section">
  <div class="row">
    <div id="loginSection" class="col-md-6">
      <h2 class="loginTitle bg-dark">Login</h2>

      <form class="loginFormStyle" id="login-form" data-parsley-validate="">
        <div class="form-group">
          <label for="email-login">Email:</label>
          <input class="form-input" type="email" id="email-login" required=""/>
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" required=""/>
        </div>
        <div class="form-group">
          <button id="loginBtn" class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>
    <div id="signupSection" class="col-md-6">
      <h2 class="loginTitle bg-dark">Signup</h2>

      <form class="form" id="signup-form" data-parsley-validate="">
        <div class="form-group">
          <label for="name-signup">name:</label>
          <input class="form-input" type="text" id="name-signup" required=""/>
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="email" id="email-signup" required=""/>
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" required="" minlength="8"/>
        </div>
        <div class="form-group">
          <button id="loginBtn" class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.js"></script>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>