<div class="parts_body">
  <div class="parts_container">
    <div class="newPartBtn">
      {{>newParts}}
    </div>

    <div class="searchDrop">
      <select id="categoryDropdown" class="form-select, input-medium" aria-label="Default select example">
        <option id="catSelect"selected>Search</option>
        <option value="engine">Engine</option>
        <option value="transmission">Transmission</option>
        <option value="electrical">Electrical</option>
        <option value="suspension">Suspension</option>
        <option value="ac">AC</option>
        <option value="exhaust system">Exhaust</option>
        <option value="brake system">Brakes</option>
        <option value="misc">Misc</option>
      </select>
    </div>
    <button id="findPartBtn" onclick="doSearch()" type="button" class="btn btn-primary">Find Part</button>
    <script src="js/client.js"></script>
  </div>
</div>