{{>newParts}}

<div>
  <select class="form-select" aria-label="Default select example">
  <option selected>Search</option>
  <option value="1">Engine</option>
  <option value="2">Transmission</option>
  <option value="3">Electrical</option>
  <option value="4">Suspension</option>
  <option value="5">AC</option>
  <option value="6">Exhaust</option>
</select>
</div>



{{!-- {{#if engineSelected}}
{{>engine}}
{{/if}} --}}







