<div class="card" style="width: 18rem;">
  <img src="../public/images/torque_converter.jpg" class="card-img-top" alt="Torque Converter">
  <div class="card-body">
    <h5 class="card-title">Torque Converter</h5>
    <p class="card-text">Acts like a clutch to allow the vehicle to come to a stop in gear while the engine is still running.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="../public/images/car_battery.jpeg" class="card-img-top" alt="Car Battery">
  <div class="card-body">
    <h5 class="card-title">Car Battery</h5>
    <p class="card-text">Provides power to vehicle systems.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="../public/images/shock-absorber.jpg" class="card-img-top" alt="Shock Absorbers">
  <div class="card-body">
    <h5 class="card-title">Shock Absorbers</h5>
    <p class="card-text">Act as a cushion between the axles and the body and reduce the shocks on the body produced by a rough road surface.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../public/images/catalytic-converter.jpg" class="card-img-top" alt="Catalytic Converter">
  <div class="card-body">
    <h5 class="card-title">Catalytic Converter</h5>
    <p class="card-text">"Converts harmful engine emissions to carbon dioxide (CO2) and water (H2O).</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../public/images/catalytic-converter.jpg" class="card-img-top" alt="Catalytic Converter">
  <div class="card-body">
    <h5 class="card-title">Catalytic Converter</h5>
    <p class="card-text">"Converts harmful engine emissions to carbon dioxide (CO2) and water (H2O).</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>