{{>newParts}}

<div>
  <select id="categoryDropdown" class="form-select" aria-label="Default select example">
  <option selected>Search</option>
  <option value="engine">Engine</option>
  <option value="transmission">Transmission</option>
  <option value="electrical">Electrical</option>
  <option value="suspension">Suspension</option>
  <option value="ac">AC</option>
  <option value="exhaust">Exhaust</option>
</select>
</div>

<button onclick="doSearch()"></button>
<script src="js/client.js"></script>

{{#if engine}}
{{> part-card}}
{{/if}}




{{!-- {{#if engineSelected}}
{{>engine}}
{{/if}} --}}







