<div class="row">
    {{#each data2 as |reviews|}}
    <div class="col-xl-4 col-md-8 col-12">
        <div class="card shadow-lg " style="width: 30rem;">
            <div class="card-body">
                <p style="text-align:center" class="card-store_id"><strong>User ID: </strong> {{reviews.user_id}}</p>
                <p style="text-align:center" class="reviews"><strong>Review: </strong> {{reviews.review_text}}</p>
            </div>
    </div>
    {{/each}}
</div>