.navbar-brand {
    font-size: 4rem;
}

.navbar li a {
    font-size: 3rem;
}

.mainSection, body {
    background-color: grey;
}

#loginForm a {
    text-decoration: none;
}

.textHeader {
    color: white;
}

.url {
    margin: 10px;
    width: 150px;
    display: flex;
    float: bottom; 
}

.store_img{
    display: flex;
    float: bottom;  
    width: 150px;
    margin: 10px;
}

.newPartBtn {
   text-align:start;
}

.btnContainer {
    display: inline-flex;
    margin-left: 1%;
}

#udBtn {
    margin-right: 4px;
    font-weight: 600;
    background-color: rgb(7, 97, 7);
    padding: 3px 6px 3px 6px;
}

#deleteBtn {
    margin-right: 4px;
    font-weight: 600;
    padding: 3px 6px 3px 6px;
    background-color: rgb(177, 19, 40);
}

#srBtn {
    margin-right: 4px;
    font-weight: 600;
    padding: 3px 6px 3px 6px;
    background-color: rgb(50, 50, 230);
}

#nrBtn {
    font-weight: 600;
    padding: 3px 6px 3px 6px;
    background-color: rgb(187, 123, 46);
}

.row {
    width: 90%;
    flex-wrap: wrap;
    
}

.btnContainer {
   margin-left: 0%;
    margin-bottom: -18px;
}

.card-description {
    justify-content: center;
    font-size: 25px;
    line-height: 24px;
}

#card-category {
    justify-content: center;
    background-color: grey;
    font-weight: 700;
}

#card-name {
    font-size: 40px;
    font-weight: 800;
}

#card-price {
    font-size: 25px;
}

#card-stock {
    font-size: 25px;
}

.brandContainer {
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

.brandheader {
    color: white;
    font-size: 50px;
}

.brandLogoContainer {
    margin-top: -90px;
    /* display: flex; */
}

.brandImg {
    transform: scale(.40);
    box-shadow: 10px 13px 0px 0px rgb(73, 32, 32);
    border-radius: 15px;
    margin: 0px -4% 0px -4%;
}

.delcoImg {
    transform: scale(.20);
}

.partsBox{
    display: flex;
    justify-content: center;
    align-items: center;
}


