.navbar-brand {
    font-size: 4rem;
}

.navbar li a {
    font-size: 3rem;
}

.mainSection, body {
    background-color: grey;
}

#loginForm a {
    text-decoration: none;
}

.textHeader {
    color: white;
}

.url {
    margin: 10px;
    width: 150px;
    display: flex;
    float: right;   
}

.store_img{
    display: flex;
    float: right;  
    width: 150px;
    margin: 10px;
}